body {
  background-color: #313131;
  padding-top: 10vh;
}

h2{
  color: rgb(218, 0, 0) !important;
  font-size: 42px;
}
.card,
.input-group{
  width: 400px !important;
}
#basic-addon1{
  cursor: pointer;
  background-color: #484848;
  color: white;
}

li.done > div{
  text-decoration: line-through;
}
li .pointer{
  cursor: pointer;
}